# Node.js Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic Reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build and Distribution folders (if any)
dist/
build/

# Coverage reports
coverage/

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
